<div>
  <section class="px-4 py-5">
    <header class="mb-4">
      <p class="text-sm">빠르고 쉽게</p>
      <h2 class="text-2xl font-bold">주소로 검색하기</h2>
    </header>

    <div
      class="bg rounded-lg bg-white flex flex-col border-solid border border-primary-black-10"
    >
      <form (click)="(closeBottomSheet)" class="p-4">
        <label class="text-primary-black-50 font-bold">자산 종류</label>
        <div class="flex justify-between items-center mt-3">
          <p
            class="text-base"
            [ngClass]="
              selectAsset ? 'text-primary-black-100' : 'text-primary-black-50'
            "
          >
            {{ selectAsset || "어떤 건물을 분석할까요?" }}
          </p>
          <ion-icon name="caret-down-outline"></ion-icon>
        </div>
      </form>

      <form
        *ngIf="selectAsset"
        class="p-4 border-solid border-t border-primary-black-10"
      >
        <label class="text-primary-black-50 font-bold">주소</label>
        <input
          placeholder="주소를 찾아볼까요?"
          class="flex justify-between items-center mt-3 text-base"
        />
      </form>
    </div>
  </section>
</div>
