<ion-header>
  <nav class="flex justify-between items-center py-[.3125rem] px-2.5">
    <ion-icon
      class="w-[3.4375rem]"
      src="assets/mo/logo.svg"
      routerLink="/main"
    ></ion-icon>
    <div>
      <ion-icon
        class="w-[1.625rem] h-[1.625rem]"
        src="assets/mo/header_alarm.svg"
        routerLink="/main"
      ></ion-icon
      ><ion-icon
        class="w-[1.625rem] h-[1.625rem] ml-4"
        src="assets/mo/header_setting.svg"
        routerLink="/main"
      ></ion-icon>
    </div>
  </nav>
</ion-header>
