<li class="flex items-stretch py-3 flex-shrink-0 w-full">
  <img class="w-10 h-10 mr-3" src="{{ districtIcon }}" />
  <div class="flex flex-1 flex-col justify-between">
    <p class="dateText pt-1">
      {{ createAt }}
    </p>
    <p class="pb-1 txt">{{ roadAdressText }}</p>
  </div>
  <div class="flex items-center" *ngIf="type === 'jeonseMain'">
    <div class="flex items-center py-0.5 px-1 rounded-sm bg-gray-100 h-5">
      <img class="w-4 h-4 mr-1" src="assets/mo/main_key.svg" />
      <p class="text-xs">55</p>
    </div>
  </div>
  <p *ngIf="type === 'resultMain'" class="text-xs font-bold pt-1">
    {{ status }}
  </p>
</li>
