html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Pretendard Variable";
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: local("Pretendard Variable"),
    url("./assets/PretendardVariable.woff2") format("woff2-variations");
}

* {
  font-family: "Pretendard Variable", sans-serif;
}
.main-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.main-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.h3 {
  font-size: 0.75rem;
  font-weight: bold;
}
.txt {
  font-size: 0.75rem;
  font-weight: normal;
}
.dateText {
  color: #9797a0;
  font-size: 0.75rem;
  font-weight: 500;
}
.arrow-line {
  position: relative;
}

.arrow-line::before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  height: 0.3375rem;
  width: 0.3375rem;
  border-top: 0.0625rem solid #000;
  border-right: 0.0625rem solid #000;
  border-radius: 0.0938rem;
  transform: rotate(45deg);
}
.guIcon {
  width: 2.5rem;
  height: 2.5rem;
}
