<ion-content fullscreen="fullscreen">
  <app-header></app-header>
  <div class="mx-[1rem] my-5">
    <section class="py-5 px-4 bg-white rounded-lg">
      <p class="h3 primary-black">자주 사용하는 메뉴</p>
      <ul class="flex flex-wrap">
        <li
          *ngFor="let menu of menus"
          class="flex flex-col w-3/12 items-center my-[.625rem]"
        >
          <ion-icon class="main-icon" src="{{ menu.src }}"></ion-icon>
          <p class="txt primary-black pt-[0.625rem]">{{ menu.name }}</p>
        </li>
      </ul>
    </section>
    <section class="py-5 px-4 bg-white rounded-lg mt-[.5rem]">
      <div class="flex flex-row items-center">
        <h3 class="h3 primary-black">결과지 다시보기</h3>
        <div class="arrow-line"></div>
      </div>
      <ul>
        <li class="flex flex-row items-center" *ngFor="let result of results">
          <ion-icon class="guIcon" src="{{ result.src }}"></ion-icon>
          <div class="flex flex-1 flex-row items-center justify-between">
            <div>
              <p class="dateText">{{ result.modifyAt.replaceAll("-", ".") }}</p>
              <p class="txt primary-black">{{ result.name }}</p>
            </div>
            <p>{{ result.safe ? "안전" : "위험" }}</p>
          </div>
        </li>
      </ul>
    </section>
    <section class="py-5 px-4 bg-white rounded-lg mt-[.5rem]">
      <div class="flex flex-row items-center">
        <h3 class="h3 primary-black">최근 발견된 &nbsp;</h3>
        <h3 class="h3 primary-black">악성 전세</h3>
        <div class="arrow-line"></div>
      </div>
      <ul>
        <li class="flex flex-row items-center" *ngFor="let denger of dengers">
          <ion-icon class="guIcon" src="{{ denger.src }}"></ion-icon>
          <div class="flex flex-1 flex-row items-center justify-between">
            <div>
              <p class="dateText">{{ denger.modifyAt.replaceAll("-", ".") }}</p>
              <p class="txt primary-black">{{ denger.name }}</p>
            </div>
            <p>{{ denger.price }}</p>
          </div>
        </li>
      </ul>
    </section>
  </div>
</ion-content>
